<a href="https://colab.research.google.com/github/anh-honcharuk/Neural-Networks/blob/main/sem_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

from google.colab import files
files.upload()

In [ ]:
df = pd.read_csv('adult.data.csv - adult.data.csv.csv')

1. Скільки чоловіків і жінок (ознака sex) представлено в цьому наборі даних?

In [ ]:
fem = df[df['sex'] == 'Female']['sex'].count()
male = df[df['sex'] == 'Male']['sex'].count()
print('У наборі даних представлено', male,'чоловіків і', fem, 'жінок')

У наборі даних представлено 21790 чоловіків і 10771 жінок

2. Який середній вік (ознака age) жінок?

In [ ]:
df[df['sex'] == 'Female']['age'].mean()

36.85823043357163

3. Яка частка громадян Німеччини (ознака native-country)?

In [ ]:
totalGerm = df[df['native-country'] == 'Germany']['native-country'].count()
total = df['native-country'].count()
print('Всього громадян Німеччини:', totalGerm)
print('Це становить', totalGerm / total, 'кількості, представлених у наборі людей')

Всього громадян Німеччини: 137
Це становить 0.004207487485028101 кількості, представлених у наборі людей

4. Які середні значення і середньоквадратичні відхилення віку тих, хто отримує
більше 50K в рік (ознака salary) і тих, хто отримує менше 50K в рік?

In [ ]:
poor_mean = df[df['salary'] == '<=50K']['age'].mean()
poor_std = df[df['salary'] == '<=50K']['age'].std()

rich_mean = df[df['salary'] == '>50K']['age'].mean()
rich_std = df[df['salary'] == '>50K']['age'].std()

print('Середні значення віку')
print('тих, хто отримує більше 50K в рік:', rich_mean, '\nтих, хто отримує менше 50K в рік:', poor_mean)
print('\nСередньоквадратичні відхилення віку')
print('тих, хто отримує більше 50K в рік:', rich_std, '\nтих, хто отримує менше 50K в рік:', poor_std)

Середні значення віку
тих, хто отримує більше 50K в рік: 44.24984058155847
тих, хто отримує менше 50K в рік: 36.78373786407767

Середньоквадратичні відхилення віку
тих, хто отримує більше 50K в рік: 10.51902771985177
тих, хто отримує менше 50K в рік: 14.020088490824813

5. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу
освіту? (Ознака education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters
або Doctorate)

In [ ]:
data = df[(df['education'] != 'Bachelors') &
    (df['education'] != 'Prof-school') &
    (df['education'] != 'Assoc-acdm') &
    (df['education'] != 'Assoc-voc') &
    (df['education'] != 'Masters') &
    (df['education'] != 'Doctorate') & 
    (df['salary'] == '>50K')]
if data.size == 0:
  print('Так, правда')
else:
  print('Ні, є люди що отримують більше 50k і не мають як мінімум вищої освіти')

Ні, є люди що отримують більше 50k і не мають як мінімум вищої освіти

6. Виведіть статистику віку для кожної раси (ознака race) і кожної статі.
Використовуйте groupby і describe. Знайдіть таким чином максимальний вік
чоловіків раси Amer-Indian-Eskimo.

In [ ]:
df.groupby(['race', 'sex'])['age'].describe()

                             count       mean        std  ...   50%    75%   max
race               sex                                    ...
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  ...  36.0  46.00  80.0
                   Male      192.0  37.208333  12.049563  ...  35.0  45.00  82.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  ...  33.0  43.75  75.0
                   Male      693.0  39.073593  12.883944  ...  37.0  46.00  90.0
Black              Female   1555.0  37.854019  12.637197  ...  37.0  46.00  90.0
                   Male     1569.0  37.682600  12.882612  ...  36.0  46.00  90.0
Other              Female    109.0  31.678899  11.631599  ...  29.0  39.00  74.0
                   Male      162.0  34.654321  11.355531  ...  32.0  42.00  77.0
White              Female   8642.0  36.811618  14.329093  ...  35.0  46.00  90.0
                   Male    19174.0  39.652498  13.436029  ...  38.0  49.00  90.0

[10 rows x 8 columns]

In [ ]:
print('Максимальний вік чоловіків раси Amer-Indian-Eskimo:')
df.groupby(['race', 'sex'])['age'].describe().loc['Amer-Indian-Eskimo'].loc['Male']['max']

Максимальний вік чоловіків раси Amer-Indian-Eskimo:

82.0

7. Серед кого більша частка заробляючих багато (> 50K): серед одружених або
неодружених чоловіків (ознака marital-status)? Одруженими вважаємо тих, у кого

marital-status починається з Married (Married-civ-spouse, Married-spouse-absent
або Married-AF-spouse), інших вважаємо холостими.

In [ ]:
totaly = df[df['salary'] == '>50K']
married_rich = len(totaly[totaly['marital-status'].str.startswith('Married')])
not_married_rich = len(totaly[totaly['marital-status'].str.startswith('Married') == False])

married = len(df[df['marital-status'].str.startswith('Married')])
not_married = len(df[df['marital-status'].str.startswith('Married') == False])

part_married_rich = married_rich / married
part_not_married_rich = not_married_rich / not_married

if part_married_rich > part_not_married_rich:
  print('Частка заробляючих багато серед одружених чоловіків більша')
elif part_married_rich == part_not_married_rich:
  print('Частки заробляючих багато серед одружених і неодружених чоловіків рівні')
else:
  print('Частка заробляючих багато серед неодружених чоловіків більша')

Частка заробляючих багато серед одружених чоловіків більша

8. Яка максимальна кількість годин людина працює в тиждень (ознака hours-per-
week)? Скільки людей працюють таку кількість годин і який серед них відсоток

заробляють багато?

In [ ]:
max_ = df['hours-per-week'].max()
count_max = df[df['hours-per-week'] == max_]['hours-per-week'].count()
per_famous = df[(df['hours-per-week'] == max_) & (df['salary'] == '>50K')]['hours-per-week'].count() / count_max * 100

print('Максимальна кількість годин людина працює в тиждень:', max_)
print('Скільки людей працюють таку кількість годин:', count_max)
print('Відсоток серед них, що заробляють багато:', per_famous)

Максимальна кількість годин людина працює в тиждень: 99
Скільки людей працюють таку кількість годин: 85
Відсоток серед них, що заробляють багато: 29.411764705882355

9. Порахуйте середній час роботи (hours-per-week) тих, хто заробляє мало і багато
(salary) для кожної країни (native-country).

In [ ]:
df.groupby(['native-country', 'salary'])['hours-per-week'].describe()['mean']

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: mean, Length: 82, dtype: float64